<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.owenwalsh.capabilityconnect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unsw_logo_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity android:name=".View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.StudentListActivity"
            android:label="Students" />
        <activity android:name=".View.BaseActivity" />
        <activity
            android:name=".View.AddStudentActivity"
            android:label="Add New Student" />
        <activity
            android:name=".View.TutorialListActivity"
            android:label="Tutorials">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".View.WeeksListActivity" />
            /></activity>
        <activity
            android:name=".View.AssessmentListActivity"
            android:label="Assessments" />
        <activity
            android:name=".View.AddAssessmentActivity"
            android:label="Add Assessment" />
        <activity
            android:name=".View.CompetencyListActivity"
            android:label="Competencies" />
        <activity
            android:name=".View.AddCompetencyActivity"
            android:label="Add Competency" />
        <activity
            android:name=".View.WeeksListActivity"
            android:label="Weeks" />
        <activity
            android:name=".View.AddTutorialActivity"
            android:label="Add New Tutorial" />
        <activity
            android:name=".View.TutorialStudentsListActivity"
            android:label="Students" />
        <activity
            android:name=".View.AddWeekActivity"
            android:label="Add New Week" />
        <activity
            android:name=".View.SendStudentEmailActivity"
            android:label="Email Student" />
        <activity
            android:name=".View.StudentViewDetailsActivity"
            android:label="Student Details" />
        <activity
            android:name=".View.EditStudentActivity"
            android:label="Edit Student Details" />
        <activity
            android:name=".View.EditCompetencyActivity"
            android:label="Edit Competency Details" />
        <activity
            android:name=".View.CompetencyViewDetailsActivity"
            android:label="Competency Details" />
        <activity
            android:name=".View.EditAssessmentActivity"
            android:label="Edit Assessment Details" />
        <activity
            android:name=".View.AssessmentViewDetailsActivity"
            android:label="Assessment Details" />
        <activity
            android:name=".View.EditWeekActivity"
            android:label="Edit Week Details" />
        <activity android:name=".View.WeekViewDetailsActivity" />
        <activity
            android:name=".View.EditTutorialActivity"
            android:label="Edit Tutorial Details" />
        <activity
            android:name=".View.TutorialViewDetailsActivity"
            android:label="Edit Competency Details" />
        <activity
            android:name=".View.StudentAttendanceActivity"
            android:label="Attendance" />
        />
        <activity
            android:name=".View.StudentCompetenciesActivity"
            android:label="Student Competencies" />
        <activity
            android:name=".View.StudentAssessmentActivity"
            android:label="Student Assessments" />
        <activity
            android:name=".View.AddStudentNotesActivity"
            android:label="Student Notes" />
        <activity
            android:name=".View.AddStudentAssessmentMarkActivity"
            android:label="Add Student Marks" />
        <activity
            android:name=".View.AddStudentCompetencyRatingActivity"
            android:label="Add Competency" />
        />
        <activity android:name=".View.StudentNotesActivity"></activity>
    </application>

</manifest>